/* ROOT */
:root {
    --padding: 40px;
    /* var(--padding) */
}

/* INITIAL RULES */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DIV */

.wrapper {
    background-color: pink;
    padding: var(--padding);
}

.box {
    --padding: 20px;
    background-color: hotpink;
    padding: var(--padding);
    margin: var(--padding);
}
